@import "variables";

#app {
  background-color: $white;
  width: 100%;
}


//TEAMS

.bg-Alex, .bg-Aleks, .bg-Hannes, .bg-Liis, .bg-Riina {
  background-color: #63ffce;
}

.bg-Bettina, .bg-Galatea, .bg-Gerda, .bg-Mauno, .bg-Sergo {
  background-color: #ff9bc1;
}

.bg-Diego, .bg-Ivika, .bg-Nadja, .bg-Teele {
  background-color: #b0f594;
}

.bg-Elsa, .bg-Joel, .bg-Oliver, .bg-Urmas {
  background-color: #64edfc;
}

.bg-Fideelia, .bg-Kersten, .bg-Priit, .bg-Veronika {
  background-color: #f3b06e;
}


.bg-nothingphone {
  background-color: lightgrey;
}

.radio-row {
  display: flex;
  flex-wrap: wrap;

}

.small-button {
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
}

.radio-button {
  display: flex;
  align-items: flex-end;
  margin-right: 2rem;

  input {
    margin-right: 0.5rem;
  }
}