@import "variables";

#app {
  background-color: $white;
  width: 100%;
}


//TEAMS

.bg-alex, .bg-Hannes {
  background-color: #63ffce;
}

.bg-bettina, .bg-Galatea {
  background-color: #ff9bc1;
}

.bg-diego {
  background-color: #b0f594;
}

.bg-elsa {
  background-color: #64edfc;
}

.bg-fideelia {
  background-color: #f3b06e;
}


.bg-nothingphone {
  background-color: lightgrey;
}

