.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.two-part-form {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;

  .form-part {

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    input, textarea {
      min-width: 20rem !important;
    }
  }
}

.max-width-20-rem {
  max-width: 20rem;
}